.switch-language-button {
    /* 預設按鈕背景顏色 */
    background-color: white;
    /* 預設文字顏色 */
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}

.switch-language-button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    .switch-language-button {
        position: fixed;
        right: 20px;
        top: 15px;
        margin-right: 0px;
    }
}