:root {
    --page-background-color: rgba(206, 163, 179, 0.6);
    --header-height: 70px;
    --h1-font-size: 28px;
    --p-font-size: 20px;
    --xj-blue: #D4EDFF;
}

body {
    height: auto;
    background-image: url('@/assets/xiaojean/D.同樂贈圖/001-女僕靜抬腿坐 by花生.jpg');
    /* 這裡加入背景圖片的路徑 */
    background-size: cover;
    /* 讓圖片覆蓋整個背景 */
    background-position: center top;
    /* 背景圖片居中 */
    background-repeat: no-repeat;
    /* 禁止背景圖片重複 */
    overscroll-behavior: none;
}

.page-body {
    background-color: var(--page-background-color);
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: #ccccff;
}

@media (max-width: 1024px) {
    :root {
        --h1-font-size: 24px;
        --p-font-size: 18px;
    }
}

@media (max-width: 768px) {
    :root {
        --h1-font-size: 20px;
        --p-font-size: 16px;
    }
}