/* RWD：螢幕寬度低於720px時隱藏navbar */

@media (max-width: 720px) {
    .nav {
        display: none;
    }

    /* LOGO置中 */
    .logoContainer {
        justify-content: center;
    }

    .switch-language-button {
        display: none;
    }
}