/* home.css */
/* banner */
.home-followButton {
    font-size: 24px;
    text-decoration: none;
    color: #D4EDFF;
    background-color: #242734;
    border-radius: 6px;
}

.home-banner {
    width: 100%;
    height: 350px;
    padding: 15px 0;
    background-color: black;
    background-image: url('@/assets/xiaojean/A.無分類/006-小靜&水滴.jpg');
    background-repeat: 'no-repeat';
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: 'center';
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
}

.home-section {
    width: 1024px;
    height: 600px;
    margin: 20px 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section1 */
.home-section1IntroArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-section1LinkArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 媒體查詢，用於螢幕寬度低於720px時 */
@media (max-width: 1024px) {

    /* banner */
    .home-banner {
        padding: 15px 0;
    }

    /* section1 */
    .home-section {
        width: 90%;
        height: auto;
    }

    .home-section1Container {
        flex-direction: column;
        align-items: center;
    }

    .home-section1IntroArea {
        width: 90%;
    }

    .home-section1LinkArea {
        width: 90%;
        margin-top: 10px;
    }
}