/* Global Styles */
:root {
    /* Merch Item Container Styles */
    --merchItemContainer-Title-color: #ffd3e4;
    --merchItemContainer-Title-size: 28px;
    /* Title, Text, Link font-color */
    --merchItemTitle-color: #ffd3e4;
    /* Title, Text, Link font-size */
    --merchItemTitle-size: 22px;
    --merchItemTitle-size-1024px: 20px;
    --merchItemText-size: 18px;
    --merchItemText-size-1024px: 16px;
    --merchItemLink-size: 18px;
    --merchItemLink-size-1024px: 16px;
}

/* Merch Body Styles*/
.merch-body {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 50px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Merch Area Styles  */
.merch-area {
    width: 90%;
    margin: 30px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-area-title {
    width: 60%;
    padding: 0 0 20px;
    font-size: var(--merchItemContainer-Title-size);
    color: var(--merchItemContainer-Title-color);
    border-bottom: 4px solid #ffd3e4;
    text-align: center;
}

.merch-item-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Merch Item Styles */
.merch-item {
    width: 240px;
    height: 350px;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 15px;
    background-color: rgba(148, 121, 70, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Merch Item Content Styles */
.merch-area img {
    width: 210px;
    height: 210px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.merch-item-title {
    font-size: var(--merchItemTitle-size);
    font-weight: bold;
    color: var(--merchItemTitle-color);
}

.merch-item-text {
    font-size: var(--merchItemText-size);
    color: var(--merchItemText-color);
}

.merch-item-link {
    font-size: var(--merchItemLink-size);
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
    .merch-title {
        font-size: var(--merchItemTitle-size-1024px);
    }

    .merch-text {
        font-size: var(--merchItemText-size-1024px);
    }
}