.news-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1024px;
    height: auto;
    margin: 50px 0;
    padding: 0 5% 50px;
    border-radius: 10px;
}

.news-body-title {
    color: #dfc5ae;
    margin: 20px;
}

.category-wrap {
    display: flex;
    justify-content: space-around;
    /* 垂直至中 */
    align-items: center;
    width: 100%;
    height: 35px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #D4EDFF;
    font-size: 18px;
    border-bottom: 3px solid #00000000;
    cursor: pointer;
}

/* 當類別被選中時變色 */
.active {
    border-bottom: 3px solid #ffd3e4;
    color: #ffd3e4;
}

/* 當類別被鼠標徘徊時變色 */
.category:hover {
    border-bottom: 3px solid #ffd3e4;
    color: #ffd3e4;
}

/* news list */
.news-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    margin-top: 20px;
}

.news-item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 15px;
    padding: 3% 0;
    border-radius: 10px;
    border: 2px solid #00000000;
}

.news-item:hover {
    border: 2px solid #ffd3e4;
    cursor: pointer;
}

.news-image {
    width: 20%;
    height: 100%;
}

.news-content {
    width: 65%;
    margin-left: 30px;
}

.news-content-title {
    color: #ffd3e4;
    height: 30%;
    margin-bottom: 5px;
}

.news-content-description {
    color: #D4EDFF;
    height: 35%;
}

.news-content-date {
    color: gray;
    display: grid;
    justify-self: end;
    height: 15%;
}

/* News details */
.news-details-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.news-details-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    background-color: #242734;
    width: 1024px;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

.news-details-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-details-container button {
    width: 90px;
    height: 40px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4f4f;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.news-details-container button:hover {
    background-color: #ff1f1f;
}

/* details content */
.news-details-title {
    text-align: center;
    color: #ffd3e4;
    font-size: 28px;
}

.news-details-date {
    text-align: center;
    color: gray;
    font-size: 16px;
    margin: 5px 0;
}

.news-details-content-container {
    color: #D4EDFF;
    height: 80%;
    overflow-y: scroll;
    padding: 0 15px;
}

.news-details-content-container::-webkit-scrollbar {
    display: none;
}

.ul-noType {
    list-style: none;
}

@media screen and (max-width:1024px) {
    .news-body {
        width: 90%;
    }

    .news-details-container {
        width: 90%;
    }
}