/* 預設 */
#rule-body {
    padding: 50px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 一般設定 */
#rule-body a {
    text-align: center;
    /* color: #14b8db; */
    text-decoration: none;
    width: calc(100%);
}

.rule-div {
    margin: 15px 0;
    padding: 20px;
    width: 1024px;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.rule-textdiv {
    width: 95%;
}

#rule-body h1 {
    width: 100%;
    padding: 0 0 10px;
    border-bottom: 3px solid #ffd3e4;
    color: #ffd3e4;
    font-size: var(--h1-font-size);
}

.rule-textdiv p {
    padding: 10px 0 0;
    font-size: var(--p-font-size);
    line-height: 35px;
    color: #D4EDFF;
}

@media screen and (max-width:1024px) {
    .rule-div {
        width: 90%;
    }

    .rule-textdiv p {
        font-size: var(--p-font-size-1024px);
    }
}

@media screen and (max-width:768px) {
    .rule-textdiv p {
        font-size: var(--p-font-size-768px);
    }

    .rule-textdiv {
        width: 90%;
    }
}